$default-font-size: 1rem
$default-page-size: 110rem
$border-radius: 0.3rem

$cbl-70: hsl(204, 70%, 70%)
$cbl-60: hsl(204, 70%, 60%)
$cbl-50: hsl(204, 70%, 50%)
$cbl-40: hsl(204, 70%, 40%)
$cbl-30: hsl(204, 70%, 30%)
$cbl-20: hsl(204, 70%, 20%)
$cgn-70: hsl(165, 100%, 70%)
$cgn-60: hsl(165, 100%, 60%)
$cgn-50: hsl(165, 100%, 50%)
$cgn-40: hsl(165, 100%, 40%)
$cgn-30: hsl(165, 100%, 30%)
$cgn-20: hsl(165, 100%, 20%)
$cog-70: hsl(37, 90%, 70%)
$cog-60: hsl(37, 90%, 60%)
$cog-50: hsl(37, 90%, 50%)
$cog-40: hsl(37, 90%, 40%)
$cog-30: hsl(37, 90%, 30%)
$cog-20: hsl(37, 90%, 20%)
$crd-70: hsl(0,100%,70%)
$crd-60: hsl(0,100%,60%)
$crd-50: hsl(0,100%,50%)
$crd-40: hsl(0,100%,40%)
$crd-30: hsl(0,100%,30%)
$crd-20: hsl(0,100%,20%)
$cgy-70: hsl(0,0%,70%)
$cgy-60: hsl(0,0%,60%)
$cgy-50: hsl(0,0%,50%)
$cgy-40: hsl(0,0%,40%)
$cgy-30: hsl(0,0%,30%)
$cgy-25: hsl(0,0%,25%)
$cgy-15: hsl(0,0%,15%)
$cbk: hsl(0,0%,0%)
$cwt: hsl(0,0%,100%)

$color-success: $cgn-30
$color-info: $cbl-50
$color-warning: $cog-50
$color-danger: $crd-60

$color-primary: $cbl-30
$color-primary-dark: $cbl-40
$color-secondary: $cgy-25
$color-secondary-dark: $cgy-15

$margin-20: 2rem
$margin-15: 1.5rem
$margin-10: 1rem
$margin-5: 0.5rem
$margin-3: 0.3rem
$margin-2: 0.2rem
