@import ./_colors

$font-size: 1
$page-width: 110rem
$height: 1.8rem
$border: 0.2rem solid rgba($cbk, 0.5)
$shadow: 0.2rem 0.2rem 0.2rem rgba($cbk, 0.2)

$size-none: 0rem
$size-micro: 0.2rem
$size-xtiny: 0.4rem
$size-tiny: 0.8rem
$size-xsmall: 1.2rem
$size-small: 1.4rem
$size-medium: 1.6rem
$size-big: 1.8rem
$size-xbig: 2.4rem
$size-large: 2.8rem
$size-xlarge: 3.6rem
$size-huge: 4.8rem
$size-giant: 6.4rem
$size-massive: 7.2rem

//= Color ======================================================================
$color-primary: $cbl-40
$color-primary-light: $cbl-60
$color-primary-dark: $cbl-30

$color-secondary: $cgy-80
$color-secondary-light: $cgy-90
$color-secondary-dark: $cgy-70

$color-white: $cwt
$color-black: $cbk

$color-disabled: $cgy-70
$color-disabled-light: $cgy-80
$color-disabled-dark: $cgy-50

$color-info: $cbl-45
$color-info-light: $cbl-50
$color-info-dark: $cbl-40

$color-success: $cgn-35
$color-success-light: $cgn-40
$color-success-dark: $cgn-30

$color-warning: $cog-50
$color-warning-light: $cog-65
$color-warning-dark: $cog-45

$color-danger: $crd-40
$color-danger-light: $crd-45
$color-danger-dark: $crd-35

//= Grid =======================================================================
$grid-gap: 8px
$grid-gap-small: 2px
$grid-gap-medium: 4px
$grid-gap-large: 16px
$grid-gap-xlarge: 32px

//= Font =======================================================================
// + Font Family
$font-family-sans: "Open Sans", helvetica, sans-serif
$font-family-title: "Butler", serif
$font-family-code: "Source Code Pro", monospace

// + Font Weight
$font-weight-normal: 400
$font-weight-bold: 600
$font-weight-heavy: 800

// + Letter Spacing
$letter-spacing-small: 0.75px
$letter-spacing-medium: 1px
$letter-spacing-large: 2px

//= Border =====================================================================
// + Border Radius
$border-radius: 5px
$border-radius-small: 2px
$border-radius-medium: 3.5px
$border-radius-large: 6.5px
$border-radius-xlarge: 8px
$border-radius-circle: 50%

// = Shadow ====================================================================
// + Form
$form-min-width: 20rem
$form-width: 25rem
$form-padding: $size-xtiny
$form-margin: $size-xtiny

// + Button
$button-margin: $size-xtiny
$button-height: $height
$button-shadow: 0.2rem 0.2rem 0.2rem rgba($cbk, 0.2)
$button-shadow-hover: 0.5rem 0.5rem 1rem rgba($cbk, 0.4)
$button-shadow-active: 0.35rem 0.35rem 0.3rem rgba($cbk, 0.3)

// + Input
$input-padding: $size-xtiny
$input-margin: $size-xtiny
$input-height: $height

// + Select
$select-padding: $size-xtiny
$select-margin: $size-xtiny
$select-height: $height

// + Textarea
$textarea-padding: $size-xtiny
$textarea-margin: $size-xtiny
$textarea-height: $height
