.user-update-password-form
  padding: $form-padding
  width: $form-width
  text-align: center

  &__cta
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: $form-margin
