.btn-icon
  a,
  button
    background-color: transparent
    color: $cwt
    border: none
    text-decoration: none
    cursor: pointer

    img,
    svg
      transition: all 0.2s ease-in-out
  &__icon
    height: $font-size * 1rem
    min-width: $font-size * 1rem
  &--primary
    svg > path
      color: $cbl-45
      fill: $cbl-45
  &--danger
    svg > path
      color: $crd-40
      fill: $crd-40
  &--success
    svg > path
      color: $cgn-30
      fill: $cgn-30
  &--warning
    svg > path
      color: $cog-45
      fill: $cog-45
  &--grey
    svg > path
      color: $cgy-50
      fill: $cgy-50
  &--disabled
    svg > path
      cursor: not-allowed
      color: $cgy-70
      fill: $cgy-70
  &--hover-primary
    &:hover > svg > path
      color: $cbl-60
      fill: $cbl-60
    &:active > svg > path
      color: $cbl-40
      fill: $cbl-40
  &--hover-danger
    &:hover > svg > path
      color: $crd-50
      fill: $crd-50
    &:active > svg > path
      color: $crd-35
      fill: $crd-35
  &--hover-success
    &:hover > svg > path
      color: $cgn-40
      fill: $cgn-40
    &:active > svg > path
      color: $cgn-25
      fill: $cgn-25
  &--hover-warning
    &:hover > svg > path
      color: $cog-60
      fill: $cog-60
    &:active > svg > path
      color: $cog-40
      fill: $cog-40
  &--hover-grey
    &:hover > svg > path
      color: $cgy-65
      fill: $cgy-65
    &:active > svg > path
      color: $cgy-45
      fill: $cgy-45
  &--hover-disabled
    svg > path
      cursor: not-allowed
      color: $cgy-70
      fill: $cgy-70
    a
      cursor: not-allowed
      pointer-events: none
