.btn
  background-color: $color-info
  font-size: 0.9rem
  padding: 0 0.7rem
  height: 2rem
  border-radius: $border-radius
  border: none
  display: inline-flex
  align-items: center
  color: $cwt
  text-decoration: none
  cursor: pointer
  transition: all 0.2s ease-in-out

  &:hover
    transform: translateZ(0.1rem) scale(1.05)
    box-shadow: 0.25rem 0.25rem 0.25rem rgba($cbk, 0.2)
  &--danger
    background-color: $color-danger
  &--warning
    background-color: $color-warning

    &:hover
      background-color: rgba($color-warning, 0.8)
  &--disabled
    cursor: not-allowed
    background-color: $cgy-70

    &:hover
      transform: translateZ(0rem) scale(1)
      box-shadow: none
