.btn-icon
  a,
  button
    background-color: transparent
    color: $cwt
    border: none
    text-decoration: none
    cursor: pointer

    img,
    svg
      transition: all 0.2s ease-in-out
  &__icon
    height: $font-size * 1rem
    min-width: $font-size * 1rem
  &--primary
    svg > path
      color: $cbl-75
      fill: $cbl-75
    &:hover > svg > path
      color: $cbl-70
      fill: $cbl-70
    &:active > svg > path
      color: $cbl-55
      fill: $cbl-55
  &--danger
    svg > path
      color: $crd-75
      fill: $crd-75
    &:hover > svg > path
      color: $crd-60
      fill: $crd-60
    &:active > svg > path
      color: $crd-55
      fill: $crd-55
  &--success
    svg > path
      color: $cgn-40
      fill: $cgn-40
    &:hover > svg > path
      color: $cgn-20
      fill: $cgn-20
    &:active > svg > path
      color: $cgn-30
      fill: $cgn-30
  &--warning
    svg > path
      color: $cog-70
      fill: $cog-70
    &:hover > svg > path
      color: $cog-60
      fill: $cog-60
    &:active > svg > path
      color: $cog-55
      fill: $cog-55
  &--grey
    svg > path
      color: $cgy-50
      fill: $cgy-50
    &:hover > svg > path
      color: $cgy-15
      fill: $cgy-15
    &:active > svg > path
      color: $cgy-35
      fill: $cgy-35
  &--disabled
    svg > path
      cursor: not-allowed
      color: $cgy-70
      fill: $cgy-70
  &--hover-primary
    &:hover > svg > path
      color: $cbl-65
      fill: $cbl-65
    &:active > svg > path
      color: $cbl-60
      fill: $cbl-60
  &--hover-danger
    &:hover > svg > path
      color: $crd-60
      fill: $crd-60
    &:active > svg > path
      color: $crd-55
      fill: $crd-55
  &--hover-success
    &:hover > svg > path
      color: $cgn-40
      fill: $cgn-40
    &:active > svg > path
      color: $cgn-35
      fill: $cgn-35
  &--hover-warning
    &:hover > svg > path
      color: $cog-60
      fill: $cog-60
    &:active > svg > path
      color: $cog-55
      fill: $cog-55
  &--hover-disabled
    cursor: not-allowed

    svg > path
      color: $cgy-70
      fill: $cgy-70
    a
      pointer-events: none
