.form-delete
  background-color: $cwt
  border-radius: $border-radius
  display: flex
  flex-direction: column
  z-index: 2

  h3
    text-align: center
    margin: 0.5rem 0
  &__form
    display: flex
    flex-direction: column
  &__msg
    font-size: $default-font-size
    line-height: 1.3
  &__input
    border-radius: $border-radius
    font-size: 0.8rem
    height: 1.8rem
    padding: 0.5rem
  &__cta
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: 1rem

    & > :not(:last-child)
      margin-right: 0.3rem
