@import ../base/variables

.tooltip
  position: relative
  display: inline-block

  &__text
    font-size: resize($font-size, 0.8)
    visibility: hidden
    background-color: $color-primary
    color: $cwt
    text-align: center
    width: 6rem
    border-radius: 0.6rem
    padding: 0.5rem 0
    position: absolute
    bottom: 125%
    left: 50%
    z-index: 1
    margin-left: -3rem
    opacity: 0
    transition: opacity 0.3s ease-in-out
    height: 1.7rem

    &::after
      content: ''
      position: absolute
      top: 100%
      left: 50%
      margin-left: -0.5rem
      border-width: 0.5rem
      border-style: solid
      border-color: $cgy-70 transparent transparent transparent

    &--left
      top: -10%
      left: -300%

      &::after
        top: 18%
        left: 91%
        margin-left: 0.5rem
        border-width: 0.5rem
        border-color: transparent transparent transparent $cgy-70
    &--right
      top: -10%
      left: 380%

      &::after
        top: 18%
        left: -24%
        margin-left: 0.5rem
        border-width: 0.5rem
        border-color: transparent $cgy-70 transparent transparent
    &--bottom
    &--top
      top: 80%

      &::after
        top: -64%
        left: 50%
        margin-left: -0.5rem
        border-width: 0.5rem
        border-color: transparent transparent $cgy-70 transparent
  &:hover &__text
    visibility: visible
    opacity: 1
