.tooltip
  position: relative
  display: inline-block

  &__text
    font-size: resize($font-size, 0.8)
    visibility: hidden
    background-color: $color-primary
    color: $cwt
    text-align: center
    width: 6rem
    border-radius: 0.6rem
    padding: 0.5rem 0
    position: absolute
    bottom: 125%
    left: 50%
    z-index: 1
    margin-left: -3rem
    opacity: 0
    transition: opacity 0.3s ease-in-out
    height: 1.7rem

    &::after
      content: ''
      position: absolute
      top: 100%
      left: 50%
      margin-left: -0.5rem
      border-width: 0.5rem
      border-style: solid
      border-color: $cgy-70 transparent transparent transparent

    &--left
      top: -10%
      left: -300%

      &::after
        top: 18%
        left: 91%
        margin-left: 0.5rem
        border-width: 0.5rem
        border-color: transparent transparent transparent $cgy-70
    &--right
      top: -10%
      left: 380%

      &::after
        top: 18%
        left: -24%
        margin-left: 0.5rem
        border-width: 0.5rem
        border-color: transparent $cgy-70 transparent transparent
    &--bottom
      top: 80%

      &::after
        top: -64%
        left: 50%
        margin-left: -0.5rem
        border-width: 0.5rem
        border-color: transparent transparent $cgy-70 transparent
  &:hover &__text
    visibility: visible
    opacity: 1

.copy
  position: relative
  display: inline-block
  cursor: pointer

  &:before
    position: absolute
    display: none
    content: ''
    z-index: 100
    width: 0
    height: 0
    border-width: 5px
    border-style: solid
    top: 20px
    left: 2px
    border-color: transparent transparent $cgy-15 transparent
  &:after
    position: absolute
    display: none
    content: 'Copy to Clipboard'
    z-index: 100
    width: 115px
    height: 36px
    color: $cwt
    font-size: 10px
    line-height: 36px
    text-align: center
    background: $cgy-15
    border-radius: $border-radius
    top: 30px
    left: -50px
  &:hover
    background-color: $cgy-90

    &:before,
    &:after
      display: block
  &:focus
    &:before
      border-color: transparent transparent $cgy-15 transparent
  &:active,
  &:focus
    outline: none

    &:after
      content: 'Copied!'
      background-color: $cgy-35
  &:active
    &:before
      border-color: transparent transparent $cgy-35 transparent
  &--right
    &:before
      top: 2px
      left: 20px
      border-color: transparent $cgy-15 transparent transparent
    &:after
      top: -10px
      left: 30px
    &:focus
      &:before
        border-color: transparent $cgy-15 transparent transparent
    &:active
      &:before
        border-color: transparent $cgy-35 transparent transparent
  &--left
    &:before
      top: 2px
      left: -15px
      border-color: transparent transparent transparent $cgy-15
    &:after
      top: -10px
      left: -130px
    &:focus
      &:before
        border-color: transparent transparent transparent $cgy-15
    &:active
      &:before
        border-color: transparent transparent transparent $cgy-35
  &--top
    &:before
      top: -15px
      left: 2px
      border-color: $cgy-15 transparent transparent transparent
    &:after
      top: -51px
      left: -50px
    &:focus
      &:before
        border-color: $cgy-15 transparent transparent transparent
    &:active
      &:before
        border-color: $cgy-35 transparent transparent transparent
  &--bottom
    &:before
      top: 20px
      left: 2px
      border-color: transparent transparent $cgy-15 transparent
    &:after
      top: 30px
      left: -50px
    &:focus
      &:before
        border-color: transparent transparent $cgy-15 transparent
    &:active
      &:before
        border-color: transparent transparent $cgy-35 transparent
