@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@-webkit-keyframes move-in-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes move-in-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes move-in-from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes move-in-from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes move-in-from-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes move-in-from-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes move-in-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes move-in-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__tooltip-text {
  visibility: hidden;
  background-color: #175782;
  color: white;
  text-align: center;
  width: 6rem;
  border-radius: 0.6rem;
  padding: 0.5rem 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  z-index: 1;
  margin-left: -3rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.tooltip__tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: #b3b3b3 transparent transparent transparent;
}

.tooltip:hover .tooltip__tooltip-text {
  visibility: visible;
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body,
#root {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 62.5%;
}

.app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-width: 110rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 110rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-2,
.split-3,
.split-4 {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 0.3rem;
          column-gap: 0.3rem;
}

.split-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.split-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.split-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@font-face {
  font-family: 'PressStart2P-Regular';
  font-weight: 400;
  src: url("../assets/fonts/PressStart2P-Regular.ttf") format("opentype");
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  min-height: 10rem;
  width: 100%;
  padding: 1rem;
}

.footer__footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 3fr;
      grid-template-columns: 3fr 1fr 3fr;
  grid-gap: 2rem;
  color: white;
}

.footer__left, .footer__middle, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.footer__repo {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__repo-text {
  font-size: 1.3rem;
  font-weight: bold;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  color: #175782;
}

@media (max-width: 75rem) {
  .footer__footer-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 0rem;
  }
  .footer__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .footer__right {
    grid-column: 2 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .footer__middle {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (max-width: 56.25em) {
  .footer__footer-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 0rem;
  }
  .footer__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .footer__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .footer__middle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #175782;
  min-height: 5rem;
  width: 100%;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.navbar__logo {
  height: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  font-family: "Pacifico", PressStart2P-Regular, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  white-space: nowrap;
  text-decoration: none;
}

.navbar__menu-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 1rem;
}

.navbar__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  white-space: nowrap;
  padding: 0 1.5rem;
}

.navbar__link:hover {
  background-color: #1f74ad;
  color: white;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
}

.alert__icon {
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.alert__msg-container {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.alert__msg {
  line-height: 1.3;
  text-transform: capitalize;
}

.alert__icon--info, .alert__msg--info {
  color: #2691d9;
}

.alert__icon--danger, .alert__msg--danger {
  color: #ff3333;
}

.alert__icon--success, .alert__msg--success {
  color: #009973;
}

.alert__icon--warning, .alert__msg--warning {
  color: #f29a0d;
}

.btn-container a,
.btn-container button {
  background-color: #2691d9;
  color: white;
  min-height: 1.8rem;
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-container a:hover,
.btn-container button:hover {
  -webkit-transform: translateZ(0.1rem) scale(1.15);
          transform: translateZ(0.1rem) scale(1.15);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.btn-container__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-container__row__icon--left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  margin-right: 0.3rem;
}

.btn-container__row__icon--right {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.btn-container__row__value {
  white-space: nowrap;
}

.btn-container__row__value--left {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

.btn-container__row__value--right {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  margin-right: 0.3rem;
}

.btn-container__column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.btn-container__column__icon--top {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  margin-bottom: 0.3rem;
}

.btn-container__column__icon--bottom {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.btn-container__column__value {
  white-space: nowrap;
}

.btn-container__column__value--top {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.btn-container__column__value--bottom {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  margin-bottom: 0.3rem;
}

.btn-container--danger a,
.btn-container--danger button {
  background-color: #ff3333;
}

.btn-container--danger a:hover,
.btn-container--danger button:hover {
  background-color: rgba(255, 51, 51, 0.8);
}

.btn-container--success a,
.btn-container--success button {
  background-color: #009973;
}

.btn-container--success a:hover,
.btn-container--success button:hover {
  background-color: rgba(0, 153, 115, 0.8);
}

.btn-container--warning a,
.btn-container--warning button {
  background-color: #f29a0d;
}

.btn-container--warning a:hover,
.btn-container--warning button:hover {
  background-color: rgba(242, 154, 13, 0.8);
}

.btn-container--disabled a,
.btn-container--disabled button {
  cursor: not-allowed;
  background-color: #b3b3b3;
}

.btn-container--disabled a:hover,
.btn-container--disabled button:hover {
  -webkit-transform: translateZ(0rem) scale(1);
          transform: translateZ(0rem) scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-container--disabled a {
  pointer-events: none;
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.3rem;
}

.cta-container__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cta-container__row--justify-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cta-container__row--justify-left > :not(:last-child) {
  margin-right: 0.5rem;
}

.cta-container__row--justify-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cta-container__row--justify-right > :not(:first-child) {
  margin-left: 0.5rem;
}

.cta-container__row--justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta-container__row--justify-center > :not(:first-child) {
  margin-left: 0.5rem;
}

.cta-container__row--align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta-container__row--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-container__row--align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cta-container__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cta-container__column > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.cta-container__column--align-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta-container__column--align-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cta-container__column--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__social-media {
  height: 2rem;
  margin: 0.3rem;
}

.icon__technology {
  height: 3rem;
}

.input-container {
  display: -ms-grid;
  display: grid;
}

.input-container input {
  border-radius: 0.3rem;
  font-size: 0.8rem;
  height: 1.8rem;
  padding: 0.5rem;
  border: 1px solid #b3b3b3;
}

.input-container label {
  margin: 0.3rem;
  text-align: left;
  padding-left: 0.3rem;
  font-size: 0.7rem;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-container--left {
  margin-bottom: 0.3rem;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.input-container--left input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
}

.input-container--left label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.input-container--right {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.input-container--right input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

.input-container--right label {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.input-container--top {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.input-container--top input {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.input-container--top label {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.input-container--bottom {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.input-container--bottom input {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.input-container--bottom label {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 30%;
  background-color: white;
  min-width: 30rem;
  min-height: 5rem;
  border-radius: 0.3rem;
  padding: 1rem;
  color: black;
  z-index: 2;
}

.popup__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #b3b3b3;
  cursor: pointer;
  text-decoration: none;
  color: black;
  z-index: 10;
}

.popup__close:hover {
  background-color: #4d4d4d;
  color: white;
}

.popup__header {
  margin: 0 0 1rem 0;
}

.popup__header h3 {
  text-align: center;
  text-transform: uppercase;
}

.popup__body {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.popup__custom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__custom__link a {
  font-size: 1rem;
}

.select-container {
  display: -ms-grid;
  display: grid;
}

.select-container select {
  border-radius: 0.3rem;
  width: 100%;
  font-size: 0.7rem;
  height: 1.8rem;
  padding: 0.2rem 0.2rem 0.2rem 0.3rem;
  border: 1px solid #b3b3b3;
}

.select-container label {
  margin: 0.3rem;
  text-align: left;
  padding-left: 0.2rem;
  font-size: 0.7rem;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-container--left {
  margin-bottom: 0.3rem;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.select-container--left select {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
}

.select-container--left label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.select-container--right {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.select-container--right select {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

.select-container--right label {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.select-container--top {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.select-container--top select {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.select-container--top label {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.select-container--bottom {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.select-container--bottom select {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.select-container--bottom label {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textarea-container {
  display: -ms-grid;
  display: grid;
}

.textarea-container textarea {
  border-radius: 0.3rem;
  width: 100%;
  font-size: 0.8rem;
  min-height: 1.8rem;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  border: 1px solid #b3b3b3;
}

.textarea-container label {
  margin: 0.3rem;
  text-align: left;
  padding-left: 0.3rem;
  font-size: 0.7rem;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textarea-container--left {
  margin-bottom: 0.3rem;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.textarea-container--left textarea {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
}

.textarea-container--left label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.textarea-container--right {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.textarea-container--right textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

.textarea-container--right label {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.textarea-container--top {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.textarea-container--top textarea {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.textarea-container--top label {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.textarea-container--bottom {
  margin-bottom: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.textarea-container--bottom textarea {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.textarea-container--bottom label {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.user-login-form {
  padding: 0.5rem;
  width: 25rem;
}

.user-login-form__reset-password-link {
  color: #4d4d4d;
  font-size: 0.6rem;
}

.user-login-form__reset-password-link:hover {
  color: #ff3333;
}

.user-profile-form {
  padding: 0.5rem;
  width: 25rem;
  text-align: center;
}

.user-profile-form__telegram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-profile-form__telegram-container__telegram {
  width: 100%;
}

.user-profile-form__icon {
  font-size: 1.3rem;
  color: #ff6666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem;
}

.user-profile-form__icon--activated {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.3rem;
  color: #7dbde8;
}

.user-profile-form__delete-link {
  color: #4d4d4d;
  font-size: 0.6rem;
}

.user-profile-form__delete-link:hover {
  color: #ff3333;
}

.user-reset-password-form__cta {
  margin-top: 0.5rem;
}

.user-signup-form {
  padding: 0.5rem;
  width: 25rem;
}

.user-update-password-form {
  padding: 0.5rem;
  width: 25rem;
}

.about-page > h1 {
  margin-bottom: 2rem;
}

.about-page h2 {
  margin: 0.5rem 0;
  white-space: nowrap;
}

.about-page h4 {
  color: #175782;
  white-space: nowrap;
}

.about-page__picture {
  border-radius: 100%;
  margin-top: 1rem;
  width: 13rem;
}

.about-page__technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

.about-page__tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about-page__tech-container:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: crosshair;
}

.about-page__tech-label {
  margin-top: 0.5rem;
}

.home-page > h1 {
  margin-bottom: 2rem;
}

.home-page > h2 {
  color: #175782;
}

.login-page > h1 {
  margin-bottom: 2rem;
}

.login-page__form {
  padding: 0.5rem;
  width: 25rem;
}

.profile-page > h1 {
  margin-bottom: 2rem;
}

.profile-page__form {
  padding: 0.5rem;
  width: 25rem;
}

.reset-password-page > h1 {
  margin-bottom: 2rem;
}

.reset-password-page__form {
  padding: 0.5rem;
  width: 25rem;
}

.signup-page > h1 {
  margin-bottom: 2rem;
}

.signup-page__form {
  padding: 0.5rem;
  width: 25rem;
}
